body {
	background: #f9e933;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 1200px;
	margin: auto;
}

header {
	background: white;
	overflow: auto;
	padding: 30px;
}

header h1, footer .contact {
	float: left;
	width: 800px;
}

header nav, main img, footer .sitemap{
	float: right;
	width: 300px;
}

main {
	background: white;
	overflow: auto;
	padding: 45px;
}

footer {
	padding: 40px;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 15px;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.4em;
}

main p {
	margin-top:15px;
	margin-bottom: 20px;
}

main h3 {
	margin-bottom:10px;
}

li {
	margin-bottom: 7px;
}

p, li, a {
	margin-bottom: 2px;
	font-size: 0.9em;
}

a {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: indigo;
}

a:hover {
	color: red;
	text-decoration: underline;
}

.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 200px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
	background: #eee;
}

.content {
	background: #eee;
	padding: 10px;
}

.content ul li {
	background: white;
	margin: 10px;
	padding: 5px;
}

.content input {
	width: 550px;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
}

.content button {
	width: 30px;
	height: 35px;
}